anyio==4.11.0
astroid==4.0.1
async-generator==1.10
attrs==25.4.0
blinker==1.9.0
CacheControl==0.14.3
cachetools==6.2.1
certifi==2025.10.5
cffi==2.0.0
chardet==5.2.0
charset-normalizer==3.4.4
click==8.3.0
cryptography==46.0.3
defusedxml==0.7.1
dill==0.4.0
exceptiongroup==1.3.0
firebase_admin==7.1.0
Flask==3.1.2
google-api-core==2.28.1
google-api-python-client==2.186.0
google-auth==2.42.1
google-auth-httplib2==0.2.1
google-cloud-core==2.5.0
google-cloud-firestore==2.21.0
google-cloud-storage==3.4.1
google-crc32c==1.7.1
google-resumable-media==2.7.2
googleapis-common-protos==1.71.0
grpcio==1.76.0
grpcio-status==1.76.0
gunicorn==23.0.0
h11==0.16.0
h2==4.3.0
hpack==4.1.0
httpcore==1.0.9
httplib2==0.31.0
httpx==0.28.1
hyperframe==6.1.0
idna==3.11
importlib_metadata==8.7.0
isort==7.0.0
itsdangerous==2.2.0
Jinja2==3.1.6
lazy-object-proxy==1.12.0
MarkupSafe==3.0.3
mccabe==0.7.0
msgpack==1.1.2
outcome==1.3.0.post0
packaging==25.0
platformdirs==4.5.0
proto-plus==1.26.1
protobuf==6.33.0
pyasn1==0.6.1
pyasn1_modules==0.4.2
pycparser==2.23
PyJWT==2.10.1
pylint==4.0.2
pyparsing==3.2.5
PySocks==1.7.1
pytz==2025.2
requests==2.32.5
rsa==4.9.1
selenium==4.38.0
six==1.17.0
sniffio==1.3.1
sortedcontainers==2.4.0
toml==0.10.2
tomli==2.3.0
tomlkit==0.13.3
trio==0.32.0
trio-websocket==0.12.2
typing_extensions==4.15.0
uritemplate==4.2.0
urllib3==2.5.0
websocket-client==1.9.0
Werkzeug==3.1.3
wrapt==2.0.0
wsproto==1.2.0
zipp==3.23.0
