
/*
 * Globals
 */

/* Links */
a,
a:focus,
a:hover {
  color: #fff;
}

a {
  /*text-decoration: underline;*/
  color: #f6d8ac;
}

a:focus,
a:hover {
  color: orange;
  text-decoration: none;
}


/*
 * Base structure
 */

html,
body {
  height: 100%;
  /*background-color: #333;*/
}

body {
  display: -ms-flexbox;
  display: flex;
  color: #fff;
  text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .5);
  /*box-shadow: inset 0 0 5rem rgba(0, 0, 0, .5);*/
  background: rgb(2,0,36);
  background: linear-gradient(10deg, rgba(2,0,36,1) 0%, rgba(72,72,189,1) 62%, rgba(0,212,255,1) 100%);
  background-attachment: fixed;  
}

.cover-container {
  max-width: 50em;
}


/*
 * Header
 */
.masthead {
  margin-bottom: 2rem;
}

.masthead-brand {
  margin-bottom: 0;
}

.nav-masthead .nav-link {
  padding: .25rem 0;
  font-weight: 700;
  color: rgba(255, 255, 255, .8);
  background-color: transparent;
  border-bottom: .25rem solid transparent;
  text-decoration: none;
}

.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
  border-bottom-color: rgba(255, 255, 255, .25);
}

.nav-masthead .nav-link + .nav-link {
  margin-left: 1rem;
}

.nav-masthead .active {
  color: #fff;
  border-bottom-color: #fff;
}

@media (min-width: 48em) {
  .masthead-brand {
    float: left;
  }
  .nav-masthead {
    float: right;
  }
}


@media (max-width: 48em) {
  .nav-masthead {
    margin-top: 15px;
    margin-bottom: 15px;
  }
}

/*
 * Cover
 */
.cover {
  padding: 0 1.5rem;
}

a.btn {
  text-decoration: none;
}

/*
 * Footer
 */
.mastfoot {
  color: rgba(255, 255, 255, .5);
}

.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

/*
 * Modal-success
 */
.modal-success {		
	color: #636363;
	width: 325px;
	font-size: 16px;
}
.modal-success .modal-content {
	padding: 20px;
	border-radius: 5px;
	border: none;
}
.modal-success .modal-header {
	border-bottom: none;   
	position: relative;
}
.modal-success h4 {
	text-align: center;
	font-size: 26px;
	margin: 30px 0 -15px;
}
.modal-success .form-control, .modal-success .btn {
	min-height: 40px;
	border-radius: 3px; 
}
.modal-success .close {
	position: absolute;
	top: -5px;
	right: -5px;
}	
.modal-success .modal-footer {
	border: none;
	text-align: center;
	border-radius: 5px;
	font-size: 13px;
}	
.modal-success .icon-box {
	color: #fff;		
	position: absolute;
	margin: 0 auto;
	left: 0;
	right: 0;
	top: -70px;
	width: 95px;
	height: 95px;
	border-radius: 50%;
	z-index: 9;
	background: #82ce34;
	padding: 15px;
	text-align: center;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
  
  display: flex;
  align-items: center;
  justify-content: center;
}
.modal-success .icon-box span {
	font-size: 58px;
	/*position: relative;
	top: 3px;*/
}
.modal-success.modal-dialog {
	margin-top: 80px;
}
.modal-success .btn {
	color: #fff;
	border-radius: 4px;
	background: #82ce34;
	text-decoration: none;
	transition: all 0.4s;
	line-height: normal;
	border: none;
}
.modal-success .btn:hover, .modal-success .btn:focus {
	background: #6fb32b;
	outline: none;
}

/*
 * Modal-error
 */
.modal-error {		
	color: #434e65;
	width: 525px;
}
.modal-error .modal-content {
	padding: 20px;
	font-size: 16px;
	border-radius: 5px;
	border: none;
}
.modal-error .modal-header {
	background: #e85e6c;
	border-bottom: none;   
	position: relative;
	text-align: center;
	margin: -20px -20px 0;
	border-radius: 5px 5px 0 0;
	padding: 35px;
}
.modal-error h4 {
	text-align: center;
	font-size: 36px;
	margin: 10px 0;
}
.modal-error .form-control, .modal-error .btn {
	min-height: 40px;
	border-radius: 3px; 
}
.modal-error .close {
	position: absolute;
	top: 15px;
	right: 15px;
	color: #fff;
	text-shadow: none;
	opacity: 0.5;
}
.modal-error .close:hover {
	opacity: 0.8;
}
.modal-error .icon-box {
	color: #fff;		
	width: 95px;
	height: 95px;
	display: inline-block;
	border-radius: 50%;
	z-index: 9;
	border: 5px solid #fff;
	padding: 15px;
  text-align: center;
  
  display: flex;
  align-items: center;
  justify-content: center;
}
.modal-error .icon-box span {
  font-size: 58px;
  position: relative;
  top: -5px;
	/*margin: -2px 0 0 -2px;*/
}
.modal-error.modal-dialog {
	margin-top: 80px;
}
.modal-error .btn, .modal-error .btn:active {
	color: #fff;
	border-radius: 4px;
	background: #eeb711 !important;
	text-decoration: none;
	transition: all 0.4s;
	line-height: normal;
	border-radius: 30px;
	margin-top: 10px;
	padding: 6px 20px;
	min-width: 150px;
  border: none;
  margin: 10px auto 0 auto;
}
.modal-error .btn:hover, .modal-error .btn:focus {
	background: #eda645 !important;
	outline: none;
}

/*
 * Custom
 */

#filter {
  display: none;
}

#add_button {
  display: none;
  /*float: right;*/
  margin: 10px auto;
  width: 30%;
}

#save_button {
  /*float: left;*/
  margin: 10px auto 30px auto;
  width: 30%;
}
/*
#rss_feed_link {
  width: 85%;
  float: right;
}
*/

.popover, .modal {
  color: black;
  text-shadow: none;
}

.mastfoot a {
  color: rgb(189, 182, 182);
  text-decoration: none;
}

#settings_block label {
  min-width: 200px;
}