<!doctype html>

<html lang="en">
<head>
    <meta charset="utf-8"/>
    <title>{{ title }}</title>
</head>

<body>
    {% block content %}{% endblock %}

    <!-- The core Firebase JS SDK is always required and must be listed first -->
    <script src="https://www.gstatic.com/firebasejs/8.1.1/firebase-app.js"></script>

    <!-- SDKs for Firebase products -->
    <script src="https://www.gstatic.com/firebasejs/8.1.1/firebase-auth.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.1.1/firebase-database.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.1.1/firebase-analytics.js"></script>

    <script>
    // Firebase configuration
    var firebaseConfig = {
        apiKey: "AIzaSyBqgj5JyYuKpCA0JH5JmWPmQ7tHOz9LtK0",
        authDomain: "ctftime-writeups.firebaseapp.com",
        databaseURL: "https://ctftime-writeups.firebaseio.com",
        projectId: "ctftime-writeups",
        storageBucket: "ctftime-writeups.appspot.com",
        messagingSenderId: "726740654144",
        appId: "1:726740654144:web:83363c90fdd446926867a5",
        measurementId: "G-75TXBDKVLB"
    };
    // Initialize Firebase
    firebase.initializeApp(firebaseConfig);
    firebase.analytics();
    </script>
</body>
</html>