{% set navigation_bar_global = [
    ('/',                   'index',    'Home')
] -%}
{% set navigation_bar_signed_in = [
    ('/filter',             'filter',   'Filter'),
    ('/settings',           'settings', 'Settings'),
    ('javascript:void(0)',  'logout',   'Sign Out')
] -%}
{% set navigation_bar_signed_out = [
    ('/login',              'login',    'Sign In')
] -%}

{% if (request.cookies.get("logged_in_menu") == '1') -%} 
    {% set navigation_bar = (navigation_bar_global + navigation_bar_signed_in) -%}
{% else -%}
    {% set navigation_bar = (navigation_bar_global + navigation_bar_signed_out) -%}
{% endif -%}
<!doctype html>

<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Filter the CTFTime Writeups RSS Feed">
    
    <title>{{ title }}</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">

    <link href="{{ url_for_cache('static',filename='css/cover.css') }}" rel="stylesheet">

    {% if page_id == "login" %}
    <link type="text/css" rel="stylesheet" href="https://www.gstatic.com/firebasejs/ui/4.6.1/firebase-ui-auth.css" />
    {% endif %}
</head>

<body class="text-center" data-page-id="{{ page_id }}">
    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
        <header class="masthead mb-auto">
            <div class="inner">
                <h3 class="masthead-brand">Writeup Feed Filter</h3>
                <nav class="nav nav-masthead justify-content-center">
                {% for href, id, caption in navigation_bar %}
                    <a href="{{ href|e }}" class="nav-link {% if id == active_page %} active {% endif %}" id="nav_link_{{ id|e }}">{{ caption|e }}</a>
                {% endfor %}
                </nav>
            </div>
        </header>
    
        <main role="main" class="inner cover">
            {% block content %}{% endblock %}
        </main>
        
        <footer class="mastfoot mt-auto">
            <div class="inner">
                <p><a href="https://github.com/Dvd848/filter-ctftime-writeups">Fork on Github</a> | <a href="/tos">Terms of Service</a></p>
            </div>
        </footer>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>

    <!-- The core Firebase JS SDK is always required and must be listed first -->
    <script src="https://www.gstatic.com/firebasejs/8.1.1/firebase-app.js"></script>

    <!-- SDKs for Firebase products -->
    <script src="https://www.gstatic.com/firebasejs/8.1.1/firebase-auth.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.1.1/firebase-database.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.1.1/firebase-analytics.js"></script>

    <script>
    // Firebase configuration
    var firebaseConfig = {
        apiKey: "AIzaSyBqgj5JyYuKpCA0JH5JmWPmQ7tHOz9LtK0",
        authDomain: "ctftime-writeups.firebaseapp.com",
        databaseURL: "https://ctftime-writeups.firebaseio.com",
        projectId: "ctftime-writeups",
        storageBucket: "ctftime-writeups.appspot.com",
        messagingSenderId: "726740654144",
        appId: "1:726740654144:web:83363c90fdd446926867a5",
        measurementId: "G-75TXBDKVLB"
    };
    // Initialize Firebase
    firebase.initializeApp(firebaseConfig);
    firebase.analytics();
    </script>

    <script src="https://www.gstatic.com/firebasejs/ui/4.6.1/firebase-ui-auth.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>

    <script src="{{ url_for_cache('static',filename='js/logic.js') }}"></script>

    <!-- Cover template for Bootstrap, by https://twitter.com/mdo -->
    <!-- https://getbootstrap.com/docs/4.5/examples/cover/ -->
</body>
</html>