{% extends "base.html" %}
{% set active_page = "filter" %}

{% block content %}

    <div id="filter">
        <h1>Filter the Writeups Feed</h1>
        <p class="lead">
            Enter the CTF Event Names you'd like to see in your feed. 
        </p>
        <p>
            Entries are case-insensitive and partial matches are allowed.
        </p>
        <div class="rounded border border-light p-3 m-3 text-center" id="ctf_names_wrapper">
            <div id="ctf_names">
                <img src="{{ url_for('static',filename='images/ajax-loader.gif') }}" alt="Loading..." id="ajax_loader" />
            </div>
            <button class="btn btn-primary" id="add_button">+</button>
        </div>
        <div class="m-3">
            <button class="btn btn-success" id="save_button">Save</button>
            
            <div class="input-group" id="rss_feed_link">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon3">Your RSS Feed: </span>
                  </div>
                <input type="text" class="form-control" id="rss_feed" readonly>
                <div class="input-group-append">
                    <button class="btn btn-outline-secondary btn-success text-white" type="button" id="copy_rss_feed_link" data-content="Link Copied">📋</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="saveModal" tabindex="-1" role="dialog" aria-labelledby="saveModalTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="saveModalLongTitle"></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    ...
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

<script>
const MAX_CTF_ENTRIES    = parseInt('{{ max_ctf_entries }}');
const MAX_ENTRY_NAME_LEN = parseInt('{{ max_entry_name_len }}');
const ENTRY_SEPARATOR = '{{ entry_separator }}';
</script>
{% endblock %}