{% extends "base.html" %}
{% set active_page = "filter" %}

{% block content %}
    
    <!-- ============================ Start Logged in content ============================ -->

    <h1>Filter the Writeups Feed</h1>
    <div id="filter">
        <p class="lead">
            Enter the CTF Event Names you'd like to see in your feed. 
        </p>
        <p>
            Entries are case-insensitive and partial matches are allowed.
        </p>
        <div class="rounded border border-light p-3 m-3 text-center" id="ctf_names_wrapper">
            <div id="ctf_names">
                <img src="{{ url_for('static',filename='images/ajax-loader.gif') }}" alt="Loading..." id="ajax_loader" />
            </div>
            <button class="btn btn-primary" id="add_button">+</button>
        </div>
        <div class="m-3">
            <button class="btn btn-success" id="save_button">Save</button>
            
            <div class="input-group" id="rss_feed_link">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon3">Your RSS Feed: </span>
                  </div>
                <input type="text" class="form-control" id="rss_feed" readonly>
                <div class="input-group-append">
                    <button class="btn btn-outline-secondary btn-success text-white" type="button" id="copy_rss_feed_link" data-content="Link Copied">📋</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="saveModal" tabindex="-1" role="dialog" aria-labelledby="saveModalTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="saveModalLongTitle"></h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              ...
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>

    <!-- ============================ End Logged in content ============================ -->

    <!-- ============================ Start Logged out content ============================ -->
    
    <div id="login">
        <div id="firebaseui-auth-container"></div>
    </div>

    <!-- ============================ End Logged out content ============================ -->

<script>
const MAX_CTF_ENTRIES    = parseInt('{{ max_ctf_entries }}');
const MAX_ENTRY_NAME_LEN = parseInt('{{ max_entry_name_len }}');
const ENTRY_SEPARATOR = '{{ entry_separator }}';
firebase.auth().onAuthStateChanged((user) => {
    if (user) 
    {
        // User is signed in

        const uid = user.uid;

        $("#rss_feed").val(`${window.location.origin}/writeups/${uid}`)

        $("#filter").show();
        $("#login").hide();

        firebase.database().ref(`/data/${uid}/ctf_names`).once('value').then((snapshot) => {
            $("#ajax_loader").hide();

            const ctf_names = snapshot.val()?.split(ENTRY_SEPARATOR) || [];
            ctf_names.length = Math.min(ctf_names.length, MAX_CTF_ENTRIES); 

            const create_input_wrapper = function(){ 
                const input_wrapper = $(`
                <div class="input-group mb-3 ctf_name_entry">
                    <input type="text" class="form-control ctf_name_input" maxlength="${MAX_ENTRY_NAME_LEN}"
                            placeholder="CTF Name" aria-label="CTF Name" aria-describedby="basic-addon2">
                    <div class="input-group-append">
                        <button class="btn btn-outline-secondary btn-danger text-white remove_ctf_name" type="button">🗙</button>
                    </div>
                </div>`);
                input_wrapper.find(".remove_ctf_name").click(function(){
                    input_wrapper.remove(); 
                    show_hide_add_button();
                });
                return input_wrapper;
            };

            ctf_names.forEach(ctf_name => {
                const input_wrapper = create_input_wrapper();
                input_wrapper.find(".ctf_name_input").val(ctf_name);
                $("#ctf_names").append(input_wrapper);
            });

            if (ctf_names.length == 0)
            {
                $("#ctf_names").append(create_input_wrapper());
            }

            const ctf_names_wrapper = $("#ctf_names_wrapper");
            const add_button = $('#add_button');
            add_button.click(function(){
                const input_wrapper = create_input_wrapper();
                $("#ctf_names").append(input_wrapper);
                
                show_hide_add_button();
                
                ctf_names_wrapper.scrollTop(ctf_names_wrapper.prop("scrollHeight"));
            });

            const show_hide_add_button = function() {
                ($(".ctf_name_input").length < MAX_CTF_ENTRIES) ? add_button.show() : add_button.hide();   
            };

            show_hide_add_button();
            
            $("#copy_rss_feed_link").click(function(){
                const copyText = document.getElementById("rss_feed");
                copyText.select();
                copyText.setSelectionRange(0, $(copyText).val().length); // For mobile devices
                document.execCommand("copy");
            }).popover({ trigger: "manual", placement: "top" }).click(function() { 
                var pop = $(this); 
                pop.popover("show") 
                pop.on('shown.bs.popover',function() { 
                setTimeout(function() {
                    pop.popover("hide")
                }, 1000); 
                });
            });

            
            $('#save_button').click(function(){
                const ctf_names_arr = [];
                $(".ctf_name_entry").each(function(index, elem) {
                    const element = $(elem);
                    const name = element.find(".ctf_name_input").val();
                    if (name.trim() != "")
                    {
                        ctf_names_arr.push(name);
                    }
                    else
                    {
                        element.remove();
                    }
                });
                const new_ctf_names = ctf_names_arr.join(ENTRY_SEPARATOR);
                firebase.database().ref('data/' + uid).set({
                    ctf_names: new_ctf_names
                }, (error) => {
                    const modal = $("#saveModal")
                    if (error) 
                    {
                        modal.find("#saveModalLongTitle").text("Error");
                        modal.find(".modal-body").text("An error ocurred while trying to save your changes.");
                    } 
                    else 
                    {
                        modal.find("#saveModalLongTitle").text("Changes Saved");
                        modal.find(".modal-body").text("Your changes were saved successfully. Your feed will reflect them automatically.");
                    }
                    modal.modal('show');
                });
            })
            .show();

        });
    } 
    else 
    {
        // User is signed out
        
        var uiConfig = 
        {
            callbacks: {
                signInSuccessWithAuthResult: function(authResult, redirectUrl) 
                {
                    // User successfully signed in.
                    // Return type determines whether we continue the redirect automatically
                    // or whether we leave that to developer to handle.
                    $("#login").hide();
                    return false;
                },
                uiShown: function() 
                {
                    // The widget is rendered.
                    $(".firebaseui-title").text("Sign in / Sign up with email")
                }
            },
            'credentialHelper': firebaseui.auth.CredentialHelper.NONE,
            // Will use popup for IDP Providers sign-in flow instead of the default, redirect.
            //signInFlow: 'popup',
            //signInSuccessUrl: '/filter',
            signInOptions: [
                {
                    provider: firebase.auth.EmailAuthProvider.PROVIDER_ID,
                    requireDisplayName: false
                }
            ],
            // Terms of service url.
            //tosUrl: '<your-tos-url>',
            // Privacy policy url.
            //privacyPolicyUrl: '<your-privacy-policy-url>'
        };

        $("#filter").hide();
        $("#login").show();
        $("#ajax_loader").show();
        $("#filter .ctf_name_entry").remove();

        const ui = firebaseui.auth.AuthUI.getInstance() || new firebaseui.auth.AuthUI(firebase.auth());
        ui.start('#firebaseui-auth-container', uiConfig);
        
    }
});

</script>
{% endblock %}