{% extends "base.html" %}
{% set active_page = PageIds.INDEX.value %}

{% block content %}
            <h1 class="cover-heading">Filter your CTFTime Writeups feed</h1>
            <p class="lead">
                The <a href="https://ctftime.org/writeups/rss/">CTFTime Writeups RSS feed</a> allows you to get notified when a new writeup is added to <a href="https://ctftime.org/">CTFTime</a>. That happens a lot.
            </p>
            <p class="lead">
                This mini-service offers you the ability to filter the writeups feed, so that you only see writeups for CTFs that you're interested in.
            </p>
            <p class="lead">
                <a href="/filter" class="btn btn-lg btn-light m-3">Get Started</a>
            </p>
            <p>
                This service is not affiliated with CTFTime. It just filters their public RSS feed.
            </p>
{% endblock %}